/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.player{
  fill: red;
  border-color: black;
}

/*@keyframes spinner {
    to {transform: rotate(360deg);}
}*/

/*.enemy{
  fill: green;
  border-color:black;
  animation: spinner .6s linear infinite;
}*/

svg{
  border: 5px solid black;
}


.enemy{
    fill: green;
    border-color:black;
    transform-origin:center;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
